* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[class^="testimonial-for"] {
  padding: 18px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1150px;
  justify-content: center;
  align-content: center;
  gap: 18px;
}

.testimonial-for-Daniel {
  background: url(img/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0%;
  grid-column: span 2;
  background-color: hsl(263, 55%, 52%);
  color: white;
  border-radius: 12px;
}
.testimonial-for-Jonathan {
  grid-column-start: 2 / 3;
  background-color: hsl(217, 19%, 35%);
}
.testimonial-for-Jeanette {
  grid-row-start: 2;
  background-color: hsl(0, 0%, 100%);
}
.testimonial-for-Patrick {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 / 4;
}
.testimonial-for-Kira {
  grid-row-start: 1;
  grid-column-end: -1;
  grid-row-end: span 2;
  background-color: hsl(0, 0%, 100%);
}
.profile-details {
  margin: 12px;
}

/* details */

.profile-details {
  display: flex;
  color: hsl(0, 0%, 70%);
}

.padding-25 {
  padding: 25px;
}
.avator {
  border-radius: 50%;
  margin-right: 15px;
  height: 40px;
  width: 40px;
}
.user-name {
  color: hsl(0, 0%, 81%);
}
.user-status {
  color: hsl(0, 0%, 50%);
}
.testimonial-highlights {
  color: hsl(210, 46%, 95%);
  font-size: 18px;
}
.testimonial-details {
  padding-top: 12px;
  color: hsl(0, 0%, 70%);
  font-size: 13px;
}
.text-color-black {
  color: black;
}
.text-color-dark {
  color: hsl(0, 0%, 50%);
}

.radius-12 {
  border-radius: 12px;
}
